body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.landing {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  text-align: center;
  color: aqua;
}
.landing header {
  width: 100%;
  height: 5rem;
  background-color: rgb(10, 104, 3);
}
.landing main {
  width: 100%;
  height: 60%;
  background-color: rgb(10, 104, 3);
}
.landing footer {
  width: 100%;
  height: 5rem;
  background-color: rgb(10, 104, 3);
}
.button {
  text-decoration: none;
}
.welcome {
  height:5rem;
  width: 15rem;
  margin: auto;
  box-shadow: 5px 5px 5px black;
  text-decoration: none;
  background-color: bisque;
  border-radius: 10px;
  font-size: 3rem;
}
.home {
  background-color: gray;
  height: 100vh;
  text-align: center;
}
.home header {
  width: 100%;
  height: 5rem;
  background-color: blanchedalmond;
}
.home main {
  width: 100%;
  height: 5rem;
  background-color: blanchedalmond;
}
.home footer {
  width: 100%;
  height: 5rem;
  background-color: blanchedalmond;
}
.itemList {
  display: block;
  width: 100%;
  height: 60%;
  background-color: rgb(248, 10, 10);
}
.itemTileVisitor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
  height: 8rem;
  /* background-color: aqua; */
  margin: auto;
}
.itemName {
  display: flex;
  width: auto;
  min-width: 10rem;
  max-width: 20rem;
  height: 1.3rem;
  /* background-color: rgb(152, 145, 247); */
  margin: auto;
  margin-left: 0rem;
  margin-right: 2rem;
  text-align: center;
  font-size: large;
  font-weight: 600;
}
.itemDescription {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: 5rem;
  overflow: scroll;
  background-color: rgb(199, 235, 241);
  margin: auto;
  margin-bottom: 0rem;
}
.itemQuantity{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 7rem;
  min-width: 100px;
  height: 1.3rem;
  background-color: rgb(199, 235, 241);
  margin: auto;
  margin-left: 2rem;
  margin-right: 2rem;
}